@import url(s6/projection.css); /* required to make the slide show run at all */
     
body { font-family: Verdana, Geneva, Arial, Helvetica, sans-serif; }

a:link, a:visited { color: black; }

.slide h1 { font-size: 30pt;  }

.slide h1 {  text-align: center; }

.slide h1.fullscreen { position: absolute;
                       top: 40%;
                       width: 100%; }

/* lets you create slides with no heading (because heading is hidden but gets included in toc) */
.slide h1.hidden     { display: none; }


.slide h2 { font-size: 28pt;  }

h3 { font-size: 25pt;  }

/* todo: add special formating for .cover slide
   lets you use h1(cover). for title/cover slide (a la S5 slide0) but more generic (not bound to 1st slide)
*/

.cover h1 { /* tbd */ }
.cover h2 { /* tbd */ }

/* todo: add special formating for h1, h2 in footer */

#footer h1 { /* tbd */ }
#footer h2 { /* tbd */ }


p, li, dt, dd, td, th { font-size: 18pt; }

ul { list-style-type: square; }    

/**********************************/
/* general text-alignment classes */

.left   { text-align: left; }
.center { text-align: center; }
.right  { text-align: right;  }

/**********************************/
/* general font-size classes      */

.small { font-size: 97%; }

.x-small,
.smaller { font-size: 88%; }

.xx-small,
.smallest,
.tiny      { font-size: 82%; }



pre { font-size: 16pt;  }

.code { 
        background-color: azure;
        padding: 5px;
      }
     
.footnote a:first-of-type  { text-decoration: none; }


p.small  { font-size: 97%; }

p.x-small,
p.smaller,  
p.footnote { font-size: 88%; }

p.xx-small,
p.smallest,
p.tiny     { font-size: 82%; }


.help p,
.help td  { font-size: 88%; }

 
.step { color: silver; }
/* or hide next steps e.g.  .step { visibility: hidden; } */
.stepcurrent { color: black; }



body {
  font-family: monospace;
}
  
.centered img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.centered {
  text-align: center;
}

p, li, dt, dd, td, th {
  font-size: 16pt;
}

.slide h1 {
  font-size: 25pt;
}

